#masthead {
    position: fixed;
    top: 0;
    z-index: 3;
    padding: 0px 0.5rem;
    width: 100%;
    background: #000;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.masthead_shift {
    top: 32px !important; /* Shift when admin bar is displayed. */
}

.site-title {
    float: left;
    font-size: 1rem;
    line-height: 3rem;
}

.site-title a, .site-title a:link, .site-title a:visited, .site-title a:hover, 
.site-title a:active {
    color: #fff;
    text-decoration: none;
}

.sidebar-button__button {
    height: 3rem;
    width: 3rem;
}

#masthead:after {
	content: "";
	display: block;
	clear: both;
}

#content {
    margin-top: 3rem;
}
