.outfit-bar {
    display: inline-block;
}

.outfit-post {
    height: 3rem;
    width: 3rem;
    float: left;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.outfit-post__thumbnail {
    height: 100%;
    width: 100%;
}

.outfit-expand-button {
    height: 3rem;
    width: 3rem;
    float: left;
}

.outfit-expand-button__icon {
    margin: 1rem;
}
