body {
    background: #000;
    color: #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#page {
    position: relative;
    min-height: 100vh;
}

#primary {
    overflow: hidden;
}

#main {
    float: left;
    width: 100%;
    background: #000;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

