* {
    margin: 0;
	box-sizing: border-box;
}

input, textarea {
    border: 1px solid #222;
    background: #eee;
}

h2, h3 {
	margin-top: 1rem;
}

p {
    margin: 0.5rem 0;
    text-align: justify;
}

.screen-reader-text {
    display: none;
}

a, a:link, a:visited, a:hover, a:active {
    color: #222;
    text-decoration: none;
}

blockquote {
    margin-left: 1rem;
    border-left: 2px solid #bbb;
    padding-left: 1rem;
}

.wp-post-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.alignleft {
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
}

.alignright {
    float: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.aligncenter {
    margin: 2rem auto;
}

.wp-caption-text {
    font-size: small;
    text-align: center;
}

dd {
    margin-left: 1rem;
}

td, th {
	padding: 0.333rem;
}
