#sidepage {
    display: inline-block;
    vertical-align: top;
    width: 0%; /* Collapsed by default. */
    border-top: 1px solid #222;
}

.sidepage-bar {
    width: 100%;
    height: 2rem;
    background: #000;
}

.sidepage-close-button {
    display: inline-block;
}

.sidepage-nav-buttons {
    display: inline-block;
    float: right;
}
