.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -1px;
    z-index: 2;
    display: none; /* Hidden by default */
    background: rgba(0, 0, 0, 0.9);
}

.sidebar > li {
    display: block;
    margin: 1rem;
}

.sidebar a, .sidebar a:link, .sidebar a:visited, .sidebar a:hover, 
.sidebar a:active {
    color: #ddd;
    text-decoration: none;
}

@media (max-width: 30rem) {
    .sidebar {
        width: 100%;
    }
}
