.sidebar {
    background: #111;
    font-size: small;
}

.sidebar_js {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -1px;
    max-width: 25rem;
    z-index: 2;
    display: none; /* Hidden by default */
    background: rgba(0, 0, 0, 0.9) !important;
    font-size: medium !important;
}

.widget_search {
    display: block !important;
    padding: 1rem 1rem 0 1rem;
    max-width: 36rem;
    margin: 0 auto !important;
}

.sidebar > li {
    margin: 1rem;
    display: inline-block;
    vertical-align: top;
}

.sidebar_js > li {
    display: block !important;
}

.sidebar a, .sidebar a:link, .sidebar a:visited, .sidebar a:hover, 
.sidebar a:active {
    color: #ddd;
    text-decoration: none;
}
