#primary {
    margin-top: 2.25rem; /* masthead */
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.category {
    margin-bottom: 0.5rem;
    background: #111;
}

.category-name-div {
    background: #222;
    margin-top: 1px; /* .grid-post border */
    position: relative;
    width: 100%;
    height: 4rem;
}

.category-name {
    font-variant: small-caps;
    font-weight: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.category-content-div {
    overflow: hidden;
    background: #000;
}

.grid-post {
    float: left;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border: 1px solid #222;
}

.grid-post-title {
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-post-thumbnail {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wp-post-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 399px) {
}

@media (min-width: 400px) and (max-width: 599px) {
    .grid-post {
        width: 50%;
        padding-bottom: 50%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .grid-post {
        width: 33.333%;
        padding-bottom: 33.333%;
    }
}

@media (min-width: 800px) {
    .category-name-div {
        position: absolute;
        width: 12.5rem;
    }

    .category-content-div {
        margin-left: 12.5rem;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .grid-post {
        width: 33.333%;
        padding-bottom: 33.333%;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .grid-post {
        width: 25%;
        padding-bottom: 25%;
    }
}

@media (min-width: 1200px) {
    .grid-post {
        width: 20%;
        padding-bottom: 20%;
    }
}
